<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54136909728-svjmnpudv043cgetqpfvn8jtf0ka47o5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54136909728-svjmnpudv043cgetqpfvn8jtf0ka47o5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>54136909728-camftvthlmeek011u8gub61ft72hg0f9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXdFGHfxBll2NgR4oyc_0Q32kUs-OCwf8</string>
	<key>GCM_SENDER_ID</key>
	<string>54136909728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.vectium.farmateca</string>
	<key>PROJECT_ID</key>
	<string>farmateca</string>
	<key>STORAGE_BUCKET</key>
	<string>farmateca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54136909728:ios:458f1c1d424c24a41c3ec5</string>
</dict>
</plist>